body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background-image: url(../img/bg.png);
    background-size: auto;
}

p {
    font-size: 0.9rem;
}

a {
    color: #000000;
}

ul {
    font-size: 0.9rem;
}

#social-media {
    background-image: url(../img/bg_socmed.png);
}

#navbar {
    background-color: #ffffff;
}

#navbar .navbar-nav {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

#navbar .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

#navbar .nav-link {
    color: #000000;
    font-weight: bold;
}

#navbar .nav-link.active {
    background-color: #00923f;
    color: #ffffff;
    border-radius: 5px;
}

#navbar .nav-item {
    margin-right: 10px;
}

#navbar .nav-link:hover {
    background-color: #00923f;
    color: #ffffff;
    border-radius: 5px;
}

#news .post-meta {
    font-size: 0.9rem;
}

.imgs {
    float: left;
    width: 100%;
    margin: 0.5%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.breadcrumb {
    background-color: #c9c9c9;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

.carousel-caption {
    color: #000000;
    top: 10%;
}

.pagination nav ul li.active .page-link {
    color: #ffffff;
    background-color: #00923f;
}

.pagination nav ul li a.page-link {
    color: #00923f;
}

.main-footer {
    bottom: 0;
    background-image: url(../img/footer.png?v=1);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ts-1 {
    text-shadow: 1px 1px 1px #c9c9c9;
}

.text-primary {
    color: #00923f !important;
}

.text-secondary {
    color: #fff500 !important;
}

.text-black {
    color: #000000 !important;
}

.text-gray {
    color: #c9c9c9;
}

.bg-gray {
    background-color: #c9c9c9;
}

.bg-yellow {
    background-color: #fff500;
}

.hover-primary:hover {
    background-color: #00923f !important;
    color: #ffffff !important;
}

.hover-primary-2:hover {
    color: #ffffff !important;
}

.btn-green {
    background-color: #00923f;
    color: #ffffff;
}

.border-green {
    border-color: #00923f !important;
}

.jadwal {
    color: #c9c9c9;
}

.jadwal.active {
    color: #00923f;
}

.jadwal:hover {
    color: #00923f;
    cursor: pointer;
}

/* special id */
#carouselHome {
    padding: 3 0rem;
}

#carouselHome .carousel-caption {
    padding: 3 0rem;
}

#carouselHome .carousel-caption img {
    width: 30%;
}

#news .container .image {
    padding: 5px;
    border-width: 3px;
    border-radius: 0;
    border-color: #00923f;
}

/* responsive css */
@media (max-width: 992px) {
    .main-footer .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 5rem;
        }
    

    #location .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #location .container .col-lg-5 {
        padding-top: 2rem;
    }
}

@media (max-width: 600px) {
    #carouselHome h1 {
        font-size: 1.3rem;
    }

    #carouselHome h2 {
        font-size: 1.1rem;
    }

    #news .container {
        display: flex;
        flex-direction: column;
    }

    #news .container .image {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-bottom: 1rem;
    }

    #news .container a {
        font-size: 0.5rem;
    }

    #navbar .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }
    .logo {
        flex-basis: 100%;
        text-align: center;
    }
    .logo img {
        display: block;
        margin: 0 auto;
    }
}

/* Chat CSS */
.chat-container {
    position: fixed;
    bottom: 40px;
    right: 10px;
    margin-right: 2rem;
    z-index: 1000;
}

.chat-box {
    display: none;
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin to avoid overlap with toggle button */
}

.chat-box.show {
    display: block;
}

.chat-header {
    background-color: #00923f;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    padding: 10px;
    height: 200px; /* Adjust height for smaller screens */
    max-height: 300px; /* Maximum height for larger screens */
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    margin-right: 10px;
}

.chat-toggle {
    width: 50px;
    height: 50px;
    background-color: #fff500;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-toggle.hidden {
    display: none;
}

.chat-toggle:hover {
    background-color: #00923f;
}

.message {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.message.sender {
    justify-content: flex-end;
}

.message.receiver {
    justify-content: flex-start;
}

.message-content {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    max-width: 100%;
}

.message.sender .message-content {
    background-color: #dcf8c6;
}

.icon {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.message.receiver .icon {
    order: -1; /* Move icon to the left */
}

.message.sender .icon {
    order: 1; /* Move icon to the right */
}

@media (max-width: 576px) {
    .chat-box {
        width: 100%;
        max-width: 100%;
    }

    .chat-body {
        height: 150px; /* Adjust height for very small screens */
    }
}

